@{
    // Layout = "~/Views/Shared/MyLayout.cshtml";
}

<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="#!" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/favicon.png" width="180" alt="">
                            </a>
                            <p class="text-center">Your Social Campaigns</p>
                            <form asp-action="Index" asp-controller="Home" method="post">
                                <div class="mb-3">
                                    <input type="hidden" value="user" name="Roles" class="form-control" >
                                </div>
                                <div class="mb-3">
                                    <input type="hidden" value=1 name="Id" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Username</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-4">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                @* <a class="btn btn-primary w-100 fs-4 mb-4 rounded-2" asp-action="Index" asp-controller="Home">Sign In</a>*@
                                <button type="submit" class="btn btn-primary" w-100 fs-4 mb-4 rounded-2>Sign In</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>