@model User;
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
        <div class="body-wrapper">
            <div class="col-lg-12 d-flex align-items-stretch">

            <div class="table-responsive" data-simplebar>
                <table class="table table-borderless align-middle text-nowrap">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Extra classes</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="me-4">
                                        <img src="~/user1.jpg"
                                             width="50"
                                             class="rounded-circle"
                                             alt="" />
                                    </div>

                                    <div>
                                        <h6 class="mb-1 fw-bolder">Mark J. Freeman</h6>
                                        <p class="fs-3 mb-0">Prof. English</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fs-3 fw-normal mb-0">$150/hour</p>
                            </td>
                            <td>
                                <p class="fs-3 fw-normal mb-0 text-success">
                                    +53
                                </p>
                            </td>
                            <td>
                                <span class="badge bg-light-success rounded-pill text-success px-3 py-2 fs-3">Available</span>
                            </td>
                        </tr>

                        @* zdes budet foreach *@
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-4">
                                            <img src="~/user2.jpg"
                                                 width="50"
                                                 class="rounded-circle"
                                                 alt="" />
                                        </div>

                                        <div>
                                            <h6 class="mb-1 fw-bolder">Nina R. Oldman</h6>
                                            <p class="fs-3 mb-0">Prof. History</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="fs-3 fw-normal mb-0">$150/hour</p>
                                </td>
                                <td>
                                    <p class="fs-3 fw-normal mb-0 text-success">
                                        +68
                                    </p>
                                </td>
                                <td>
                                    <span class="badge bg-light-primary rounded-pill text-primary px-3 py-2 fs-3">In Class</span>
                                </td>
                            </tr>
                        


                    </tbody>
                </table>
            </div>
            </div>
        </div>
</div>
